<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<p>
    я страница new.html из папки people<br>
    PeopleController, методы newPerson(), create() <br>
    создаем нового Person
</p><br><br>
<hr/>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Введите ФИО:</label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name Error</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>

<!-- Пояснения
Метод контроллера newPerson() посылает на эту страницу
после обработки запроса people/new
(также ссылка на эту страницу идет с index.html)
и присылает сюда пустой объект Person ("person")для заполнения
Также можно протестировать прямой ссылкой
http://localhost:8080/people/new

th:method="POST" th:action="@{/people}"
указывают контроллеру PeopleController какой
метод использовать для обработки данной формы,
(после нажатия кнопки Create)
а именно create() сюда подходит

th:object="${person}
Указывает какой объект (переменная) будет
заполняться и отправляться контроллеру create() на обработку
-->

<!-- Валидация
th:if="${#fields.hasErrors('fullName')}...
th:if="${#fields.hasErrors('yearOfBirth')}...
Если в этих переменных есть ошибки, указанные в моделях -
выводится надпись красного цвета - сообщения к этим ошибкам
см. validation_person_edit.png
-->
