<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit and update book</title>
</head>
<body>

<p>
    я страница edit.html из папки books<br>
    BooksController, методы edit(), update()<br>
    Редактируем книгу
</p><br/><br/>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <label for="title"> Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <input type="submit" value="Редактировать"/>
</form>

</body>
</html>